{% extends 'base.html.twig' %}

{% block title %}Netgen Layouts Demo{% endblock %}

{% block body %}
    <h1>Netgen Layouts Demo</h1>

    <p>
        <a href="{{ path('app_recipes') }}" class="btn btn-primary">Browse Recipes</a>
    </p>

    <h2>Subscribe</h2>
    {{ component('subscribe_newsletter') }}
{% endblock %}
